


.container {
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
   
}
 .container .item{
     width: 390px;
     height: 390px;
     display: flex;
     align-items: center ;
     justify-content: center;
 }


    
